<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Angular js</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-2.2.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<!--
<body ng-app = "my-module">


<div ng-controller="ControllerZero">
    <input ng-model="message" >
    <button ng-click="handleClick(message);">LOG</button>
</div>

<div ng-controller="ControllerOne">
    <input ng-model="message" >
</div>

<div ng-controller="ControllerTwo">
    <input ng-model="message" >
</div>
-->
<div ng-app="myApp">
<div ng-controller="ParentCtrl" class="ng-scope">
    // ParentCtrl
    <div ng-controller="Sibling1" class="ng-scope">
        // Sibling first controller
    </div>
    <div ng-controller="Sibling2" class="ng-scope">
        // Sibling Second controller
        <div ng-controller="Child" class="ng-scope">
            // Child controller
        </div>
    </div>
</div>
</div>

<script src="js/angular.js"></script>
<script>
    var app =  angular.module('myApp',[]);//We will use it throughout the example
    app.controller('Child', function($rootScope) {
        $rootScope.$emit('childEmit', 'Child calling parent');
        $rootScope.$broadcast('siblingAndParent');
    });

    app.controller('Sibling1', function($rootScope) {
        $rootScope.$on('childEmit', function(event, data) {
            console.log(data + ' Inside Sibling one');
        });
        $rootScope.$on('siblingAndParent', function(event, data) {
            console.log('broadcast from child in parent');
        });
    });

    app.controller('Sibling2', function($rootScope) {
        $rootScope.$on('childEmit', function(event, data) {
            console.log(data + ' Inside Sibling two');
        });
        $rootScope.$on('siblingAndParent', function(event, data) {
            console.log('broadcast from child in parent');
        });
    });

    app.controller('ParentCtrl', function($rootScope) {
        $rootScope.$on('childEmit', function(event, data) {
            console.log(data + ' Inside parent controller');
        });
        $rootScope.$on('siblingAndParent', function(event, data) {
            console.log('broadcast from child in parent');
        });
    });
</script>

</body>
</html>